body{
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}


.w-45{
    width: 45%;
}

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33,33,33,0.48);
    -webkit-transition: background-color .3s cubic-bezier(0.25,0.8,0.25,1);
    transition: background-color .3s cubic-bezier(0.25,0.8,0.25,1);
    z-index: 500;

    &.hide{
        display: none;
    }

    &.show{
        display: block;
    }
}

.content-form{
    padding: 0px 8px;


    .header-title{
        border-bottom: 1px solid #f5f5f5;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;

        span{
            color: #172B4D;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: -0.01em;
            line-height: 32px;
        }
    }

    label{
        font-size: 12px;
        color: #666;
        font-weight: bold;
        margin-bottom: 0.3rem;
    }
    .form-group {
        margin-bottom: 0.5rem;
    }

    .form-control{
        padding: 0.3rem 0.4rem;
        font-size: 0.8rem;
        border-radius: 0px;
    }

    .form-control-small{
        height: calc(1.6rem + 0px);
    }
    select.form-control:not([size]):not([multiple]) {
        height: calc(1.8rem + 2px);
        border-radius: 0px;
    }

    select.form-control-small:not([size]):not([multiple]) {
        height: calc(1.6rem + 0px);
    }

    .btn{
        padding: 0.2rem 0.9rem;
        font-size: 0.8rem;
        line-height: 1.5;
    }

}


.btn-blue{
    background-color: #0288D1;
    
    border-color: #0288D1;
    color: #fff;
    -webkit-font-smoothing: subpixel-antialiased;
}