.inst-header{
    position: fixed;
    display: flex;
    align-items: center;
    border-bottom: 0;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    align-items: center;
    /*background-color: #1565c0;*/
    justify-content: space-between;
    padding: 0 12px;
    height: 50px;
    min-width: 100%;
    width: fit-content;
    z-index: 1020;
    background-color: #3b78e7;
    /*background-color: #00b1b3;*/
}


