

.inst-section-article{

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    box-sizing: content-box;

    .inst-editor-content{
        width: 55%;
        background-color: #fff;
        box-shadow: inset -1px 0 0 rgba(0, 0, 0, .08);
        padding-right: 1px;
        font-family: 'Lato';
        font-weight: 400;
        font-size: 14px;
        .ck.ck-sticky-panel__content{
            border-bottom: 1px solid #f5f5f5;
        }

        .ck.ck-toolbar{
            border:0px !important;
            //background-image: linear-gradient(to bottom,rgba(49,49,47,.99),#262625);
            //background-repeat: repeat-x;
            background-color: #fff;
        }

        .ck.ck-content{
            border:0px !important;
            min-height: 500px;

            &:focus{
                border: 0px !important;
                box-shadow: none !important;
            }
        }

        .ck.ck-button, a.ck.ck-button{
            color:#000;
        }

        .ck.ck-button:not(.ck-disabled):focus, .ck.ck-button:not(.ck-disabled):hover, a.ck.ck-button:not(.ck-disabled):focus, a.ck.ck-button:not(.ck-disabled):hover{
            background:none !important;
        }
    }

    .inst-nav-article{
        width: 8%;
        background-color: #fff;
        
        box-sizing: content-box;
        display: flex;
        align-items: center;
        flex-direction: column;

        .inst-title-elem{
            font-size: 0.8rem;
            padding: 9px;
            border-bottom: 1px solid #f5f5f5f5
        }

        .inst-btn-nav{
            padding:10px 5px;
        }

        .btn-inst-article{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 90%;
            margin-bottom: 20px;
            background-color: #e9e9e9;
            border-radius: 50%;
            width: 60px;
            height: 60px;

            &:hover{
                
                transition: box-shadow 150ms;
                outline: none;
                box-shadow: 0 0 0 3px #314F81;
            }

            img{
                width: 18px;
            }

            span{
                font-size: 0.7rem;
            }
        }
    }

    .inst-preview-content{
        width: 30%;
        width: 400px;
        background-color: #fff;
        padding: 5px;
        position: relative;

        .modal-element-article{
            position: fixed;
            top: 0;
            background: #fff;
            width: 100%;
            height: 100%;
            @include transition();
            z-index: 1000;
            padding: 70px 10px 10px;
           
            &.hide{
                transform: translateX(101%);
            }

            &.show{
                transform: translateX(0%);
            }
        }

    }

}

