.inst-sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index:10;
    padding: 70px 0px 0;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px -1px rgba(0, 0, 0, 0.2);
    transition-property: left;
    -ms-flex: 0 0 17.666667%;
    flex: 0 0 17.667%;
    width: 17.667%;
    max-width: 17.667%;
    background-color: #fff;

    .sidebar-sticky{

        .nav-item{

            &:hover{
                background-color: rgba(158, 158, 158, 0.4);
            }

            .nav-link{
                font-size: 14px;
                color: #666;
                display: flex;
                align-items: center;
                padding: 1rem 1.3rem;

                span{
                    padding-left: 10px;
                }
            }

        }


    }
}
